#container {
    width: 900px;
    height: 1000px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -300px;
    margin-left: -450px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 6, 6);
}

.pergunta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: rgb(88, 86, 86);
}

#options {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: 700;
    color: rgb(88, 86, 86);
}

.radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(136, 6, 6);
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    appearance: none;
}

.radio input:checked {
    /* background: url('https://www.clker.com/cliparts/Q/l/D/8/k/m/red-circle-icon-md.png') left top no-repeat;*/
    background-color: rgb(136, 6, 6);
    content: "0a0";
}

#linha {
    width: 800px;
    border: 1px dashed rgb(136, 6, 6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    width: 220px;
    height: 60px;
    font-size: 12pt;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
}

#buttonGroup {
    display: flex;
    align-items: right;
    margin-left: 35%;
}

#voltar {
    background-color: white;
    border: 1px solid rgb(136, 6, 6);
    font-weight: lighter;
    margin-top: 60px;
    margin-bottom: 60px;
}

#salvar {
    background-color: orange;
    border: 1px solid orange;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}

#salvar:hover {
    opacity: 0.5;
    cursor: not-allowed;
}

#voltar:hover {
    cursor: pointer;
    background-color: rgb(211, 205, 205);
}

#buttonGroup {
    display: flex;
    flex-direction: row;
    justify-items: right;
}

.fixedQuestions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: rgb(88, 86, 86);
    font-weight: 700;
}

.lista {
    border: none;
    border-bottom: 1px solid rgb(88, 86, 86);
    width: 350px;
    height: 30px;
    margin: 10px 10px;
    outline: none;
}