<head>
    <script language='javascript' type="text/javascript">
        function validar() {}
    </script>
</head>

<body>
    <div id='container'>
        <h3>PERFIL DO INVESTIDOR - QUESTIONÁRIO</h3>
        <div *ngFor='let pergunta of perguntas'>
            <p class='pergunta'>{{pergunta.pergunta}}</p>
            <div id='options' *ngFor='let opcao of pergunta.opcoes'>
                <table>
                    <tr>
                        <td width=250px><input class='radio' type="radio" name="answer" required>{{opcao | uppercase}}</td>
                    </tr>
                </table>
            </div>
            <hr id='linha' />
        </div>
        <div>
            <p class='pergunta'>4 - Qual sua familiaridade com os tipos de investimentos abaixo?<br/> Leve em consideração o valor aplicado nos últimos 2 anos.</p>
            <table>
                <tr>
                    <td>
                        <label for='1' class='fixedQuestions' id='1'>TÍTULOS DE RENDA FIXA OU TESOURO DIRETO</label>
                        <input class='lista' type="text" list='choices' placeholder="Selecione uma opção">
                        <datalist id='choices'>
                        <option *ngFor='let choice of questionsService.getOpcoes()' value={{choice}}>
                    </datalist>
                    </td>
                    <td>
                        <label for='2' class='fixedQuestions' id='2'>FUNDOS DE INVESTIMENTO</label>
                        <input class='lista' type="text" list='choices' placeholder="Selecione uma opção">
                        <datalist id='choices'>
                        <option *ngFor='let choice of questionsService.getOpcoes()' value={{choice}}>
                    </datalist>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for='3' class='fixedQuestions' id='3'>AÇÕES A VISTA</label>
                        <input class='lista' type="text" list='choices' placeholder="Selecione uma opção">
                        <datalist id='choices'>
                        <option *ngFor='let choice of questionsService.getOpcoes()' value={{choice}}>
                    </datalist>
                    </td>
                    <td>
                        <label for='4' class='fixedQuestions' id='4'>ALUGUEL DE AÇÕES, TERMOS, OPÇÕES E FUTUROS</label>
                        <input class='lista' type="text" list='choices' placeholder="Selecione uma opção">
                        <datalist id='choices'>
                        <option *ngFor='let choice of questionsService.getOpcoes()' value={{choice}}>
                    </datalist>
                    </td>
                </tr>
            </table>
        </div>
        <span id='buttonGroup'>
        <button id='voltar' class='button' routerLink=''>VOLTAR</button>
        <button id='salvar' class='button' routerLink='/sucesso' onclick="return validar()">SALVAR</button>
    </span>
    </div>
</body>