<div style="text-align:center">
    <img id=iconPreenchido width="200" height="200" alt="icone preenchido" src="https://previews.123rf.com/images/ankudi/ankudi1511/ankudi151100026/47618652-check-list-icon-vector.jpg">
</div>
<div style="text-align:center">
    <h3 class="titulo">{{ titulo | uppercase }}</h3>
</div>
<div>
    <p>Em até 48h daremos um retorno sobre a abertura de sua conta.</p>
    <p>Para receber nossas recomendações de investimentos e começar a investir, <br/> precisamos conhecer seu perfil de investidor.</p>
    <p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</p>
</div>
<div>
    <p id='question'>Gostaria de responder ao Perfil do investidor?</p>
    <div align=center id='options'>
        <button class='button' routerLink="/termos">NÃO</button>
        <button class='button' routerLink="/perfil">SIM</button>
    </div>
</div>