.titulo {
    color: rgb(219, 185, 144);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    font-size: 15pt;
}

#question {
    color: black;
    font-weight: 100;
}

#options {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(155, 36, 36);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(155, 36, 36);
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.button:hover {
    background-color: rgb(236, 229, 229);
    cursor: pointer;
}