#container {
    width: 99%;
    height: 98%;
    background-color: gray;
    position: absolute;
    opacity: 0.6;
    align-items: center;
    display: flex;
    justify-content: center;
}

#termo {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    margin-top: 1%;
    width: 500px;
    height: 380px;
}

#close {
    color: rgb(126, 23, 23);
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#buttonClose {
    margin-left: 95%;
    margin-top: 2%;
}

#titulo {
    color: rgb(126, 23, 23);
    text-align: center;
    font-weight: 700;
}

#texto {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-weight: 700;
}

#linha {
    width: 80%;
    border: 1px dashed;
}

#agreement {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

#lableCheckbox {
    font-family: Arial, Helvetica, sans-serif;
}

#entendi {
    width: 220px;
    height: 40px;
    color: white;
    font-size: 10pt;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#entendi:hover {
    opacity: 0.5;
    cursor: not-allowed;
}