<head>
    <script language='javascript' type="text/javascript">
        function liberar() {}

        function validar() {}
    </script>
</head>

<body>
    <div id='container'>
        <div id='termo'>
            <a id='close' routerLink=''>
                <div id=buttonClose>X</div>
            </a>
            <div>
                <p id='titulo'>TERMO</p>
            </div>
            <div id='texto'>
                <p>{{texto}}</p>
            </div>
            <hr id='linha'>
            <div>
                <form id='agreement'>
                    <span><input id='checkbox' value="accepted" type="checkbox" onselect="liberar()"><label id='lableCheckbox'> Li e aceito os termos e condições acima</label></span>
                    <button id='entendi' routerLink='/sucesso' onclick="return validar()">OK, ENTENDI</button>
                </form>
            </div>
        </div>
    </div>

</body>