<div id="container">
    <hr width=50%/>
    <div>
        <img width=10% height=10% src='https://media.istockphoto.com/vectors/green-check-mark-sign-addition-icon-vector-id641689174'>
    </div>
    <p id='message'>Cadastro Realizado com Sucesso!</p>
    <hr width=50%/>
    <div *ngIf=''>
        <p>TERMINAR</p>
    </div>
    <button id='returnButton' routerLink=''> Retornar à tela Principal</button>
</div>