#container {
    text-align: center;
    width: 99%;
    height: 97%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

#message {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 99, 4);
    font-weight: 700;
    margin-bottom: 30px;
}

#returnButton {
    background-color: orange;
    border: 1px solid orange;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 50px;
}

#returnButton:hover {
    cursor: pointer;
    background-color: rgb(241, 193, 104);
}